
<div class="container">
	
	<h3 style="text-align: center; color: blue"><b>Provide The Path Of Json File You Want To Add To Elastic Search(JSON LO)</b></h3>
    <br><br>
	<div class="row">
		<div class="col-md-4 col-sm-4 col-xs-2"></div>
		<div class="form-group col-md-4 col-sm-4 col-xs-8">
	  		<input type="text" class="form-control" id="usr" ng-model="folderPath">
<br>
{{msj}}
		</div>
		<div class="col-md-4 col-sm-4 col-xs-2"></div>
	</div>
	
	<br>

	<div class="row">
		<div class="col-md-5 col-sm-5 col-xs-4"></div>
		<button type="button" style="text-align: center; font-size: 18px" class="col-md-2 col-sm-2 col-xs-4 btn btn-primary " ng-click="generateJson(folderPath)">Generate Json</button>
		<div class="col-md-5 col-sm-5 col-xs-4"></div>
	</div>

	<br><br>
	
</div>